.main
  = render "shared/top-header"
  %section.main__item-box
    = render partial: "items/detail-main", locals: { item: @item, exhibitor: @exhibitor, category: @category }
    .main__item-box__item-description
      %p.main__item-box__item-description--text
        = @item.introduction
  .main__btn-selection
    = link_to edit_item_path(@item) do
      .main__btn-selection--edit-btn-red 商品の編集
    %p.main__btn-selection--text or
    %button= link_to 'この商品を削除する', "/exhibitions/#{@item.id}", class: "main__btn-selection--delete-btn-gray", method: :delete, data: {confirm: '削除すると二度と復活できません。本当に削除しますか？'}
  .main__detail-message
    .main__detail-message__container
      .main__detail-message__container__content
        %form.main__detail-message__container__content__form
          %p 相手のことを考え丁寧なコメントを心がけましょう。不快な言葉遣いなどは利用制限や退会処分となることがあります。
          %textarea
          %button.main__detail-message__container__content__form--btn-gray
            %span コメントする
  = render "shared/top-footer"