.contents__main__center
  .contents__main__center__item
    - @ladyitems.each do |ladies|
      = link_to "/item/#{ladies.id}/" do
        .contents__main__center__item__box
          .contents__main__center__item__box__image
            = image_tag ladies.images[0].variant(resize: '213x220'), width:"213", height:"220", alt: "イメージ1"
          .contents__main__center__item__box__text
            .contents__main__center__item__box__text__product
              = ladies.name
            .contents__main__center__item__box__text__price
              = "¥ #{ladies.price.to_s(:delimited)}"
  .contents__main__center__all
    .contents__main__center__all__item
      .contents__main__center__all__item__box
        = link_to 'すべての商品を見る', root_path 