- if @ladyitems.present?
  %h3= link_to 'レディース新着アイテム', root_path
  .contents__main__center
    .contents__main__center__item
      - @ladyitems.each do |ladies|
        = link_to "/item/#{ladies.id}/" do
          .contents__main__center__item__box
            .contents__main__center__item__box__image
              = image_tag ladies.images[0].variant(resize: '213x220'), width:"213", height:"220", alt: "イメージ1"
            .contents__main__center__item__box__text
              .contents__main__center__item__box__text__product
                = ladies.name
              .contents__main__center__item__box__text__price
                = "¥ #{ladies.price.to_s(:delimited)}"
  .contents__main__center__all
    .contents__main__center__all__item
      .contents__main__center__all__item__box
        = link_to 'すべての商品を見る', root_path 
- if @menitems.present?
  %h3= link_to 'メンズ新着アイテム', root_path
  .contents__main__center
    .contents__main__center__item
      - @menitems.each do |mens|
        = link_to "/item/#{mens.id}/" do
          .contents__main__center__item__box
            .contents__main__center__item__box__image
              = image_tag mens.images[0].variant(resize: '213x220'), width:"213", height:"220", alt: "イメージ1"
            .contents__main__center__item__box__text
              .contents__main__center__item__box__text__product
                = mens.name
              .contents__main__center__item__box__text__price
                = "¥ #{mens.price.to_s(:delimited)}"
  .contents__main__center__all
    .contents__main__center__all__item
      .contents__main__center__all__item__box
        = link_to 'すべての商品を見る', root_path 
- if @babyitems.present?
  %h3= link_to 'ベビー・キッズ新着一覧', root_path
  .contents__main__center
    .contents__main__center__item
      - @babyitems.each do |babies|
        = link_to "/item/#{babies.id}/" do
          .contents__main__center__item__box
            .contents__main__center__item__box__image
              = image_tag babies.images[0].variant(resize: '213x220'), width:"213", height:"220", alt: "イメージ1"
            .contents__main__center__item__box__text
              .contents__main__center__item__box__text__product
                = babies.name
              .contents__main__center__item__box__text__price
                = "¥ #{babies.price.to_s(:delimited)}"
  .contents__main__center__all
    .contents__main__center__all__item
      .contents__main__center__all__item__box
        = link_to 'すべての商品を見る', root_path 
- if @interioritems.present?
  %h3= link_to 'インテリア・住まい・小物', root_path
  .contents__main__center
    .contents__main__center__item
      - @interioritems.each do |interiors|
        = link_to "/item/#{interiors.id}/" do
          .contents__main__center__item__box
            .contents__main__center__item__box__image
              = image_tag interiors.images[0].variant(resize: '213x220'), width:"213", height:"220", alt: "イメージ1"
            .contents__main__center__item__box__text
              .contents__main__center__item__box__text__product
                = interiors.name
              .contents__main__center__item__box__text__price
                = "¥ #{interiors.price.to_s(:delimited)}"
  .contents__main__center__all
    .contents__main__center__all__item
      .contents__main__center__all__item__box
        = link_to 'すべての商品を見る', root_path 