- if @ladyitems.present?
  %h3= link_to 'レディース新着アイテム', root_path
  = render 'ladies-item'
- if @menitems.present?
  %h3= link_to 'メンズ新着アイテム', root_path
  = render 'mens-item'
- if @babyitems.present?
  %h3= link_to 'ベビー・キッズ新着一覧', root_path
  = render 'babies-item'
- if @interioritems.present?
  %h3= link_to 'インテリア・住まい・小物', root_path
  = render 'interiors-item'