.top-contents
  .top-images
    = image_tag "/assets/index.png", width:"1440", height:"400", alt: "イメージ1"
  .contents-main
    .contents-main__head
      ピックアップカテゴリー
    = render partial: "top-page"
    = render partial: "top-page"
    = render partial: "top-page"
    = render partial: "top-page"
    = render partial: "top-page"
