.top-all
  = render 'shared/top-header'
  .top
    = render partial: "slide"
    .top__contents
      .top__contents__main
        ピックアップカテゴリー
        = render partial: "top-page"
        = render partial: "top-page"
        = render partial: "top-page"
        = render partial: "top-page"
        = render partial: "top-page"
    .icon-sell-btn
      .icon-sell-btn__text
        出品
      %i.fa.fa-camera
  = render 'shared/top-footer'
