.top-contents
  = render partial: "slide"
  .contents-main
    .contents-main__head
      ピックアップカテゴリー
    = render partial: "top-page"
    = render partial: "top-page"
    = render partial: "top-page"
    = render partial: "top-page"
    = render partial: "top-page"
