.top-all
  = render 'shared/top-header'
  .top
    = render partial: "slide"
    .top__contents
      %h2.top__contents__pickup-text ピックアップカテゴリー
      .top__contents__main
        = render partial: 'top-page'
  = render 'shared/top-footer'
  = render partial: 'shared/sell-button'
