.top-all
  = render 'shared/top-header'
  .top
    = render partial: "slide"
    .top__contents
      .top__contents__main
        ピックアップカテゴリー
        = render partial: "top-page"
        = render partial: "top-page"
        = render partial: "top-page"
        = render partial: "top-page"
        = render partial: "top-page"
  = render 'shared/top-footer'
  = render partial: 'shared/sell-button'
