.registration-html
  .registration-body
    .registration-all
      .registration-all__container
        / ヘッダー部分
        %header.registration-all__header
          %h1.registration-all__header--h1
            %a.registration-all__header--a{:href => "#"}
              = image_tag "mercari2.png"
          %nav.registration-all__bar
            %ol.registration-all__bar--ol
              %li.registration-all__bar--active-first
                会員情報
                .progress-status
              %li.registration-all__bar--li
                電話番号認証
                .progress-status
              %li.registration-all__bar--li
                お届け先住所入力
                .progress-status
              %li.registration-all__bar--li
                支払い方法
                .progress-status
              %li.registration-all__bar--last
                完了
                .progress-status
        / メイン部分
        %main.registration-all__main
          %section.registration-all__main-container
            %h2.registration-all__single-head 会員情報入力
            %form.registration-all__inner{:action => "/users/second"}
              .registration-all__content
                .registration-all__form-group
                  %label.registration-all__form-group--label{:for => "nickname"} ニックネーム
                  %span.registration-all__require 必須
                  %input.input-default{:placeholder => "例）メルカリ太郎", :type => "text"}
                .registration-all__form-group
                  %label.registration-all__form-group--label{:for => "email"} メールアドレス
                  %span.registration-all__require 必須
                  %input.input-default{:placeholder => "PC・携帯どちらでも可", :type => "email"}/
                .registration-all__form-group
                  %label.registration-all__form-group--label{:for => "password"} パスワード
                  %span.registration-all__require 必須
                  %input.input-default{:placeholder => "6文字以上", :type => "password"}/
                .registration-all__form-group
                  %label.registration-all__form-group--label{:for => "password"} パスワード（確認）
                  %span.registration-all__require 必須
                  %input.input-default{:placeholder => "6文字以上", :type => "password"}/
                .registration-all__form-group
                  %h3.registration-all__sub-head 本人確認
                  %p.registration-all__content--text
                    安心・安全にご利用いただくために、お客様の本人情報の登録に
                    ご協力ください。他のお客さまに公開されることはありません。
                .registration-all__form-group
                  %div
                    %label.registration-all__form-group--label お名前(全角)
                    %span.registration-all__require 必須
                  %input.input-default.harf{:placeholder => "例）山田", :type => "text"}/
                  %input.input-default.harf{:placeholder => "例）彩", :type => "text"}/
                .registration-all__form-group
                  %div
                    %label.registration-all__form-group--label お名前カナ(全角)
                    %span.registration-all__require 必須
                  %input.input-default.harf{:placeholder => "例）ヤマダ", :type => "text"}/
                  %input.input-default.harf{:placeholder => "例）アヤ", :type => "text"}/
                .registration-all__form-group
                  %label.registration-all__form-group--label{"for-" => "birthday"} 生年月日
                  %span.registration-all__require 必須
                  .registration-all__birthday-select
                    .registration-all__birthday-select__select
                      %i.icon-arrow-bottom
                      %select.registration-all__birthday-select__select--default
                        %option{:value => ""} --
                        -i = 2019
                        = while i >= 1900
                          %option{:value => "#{i}"} #{i}
                          -i -= 1
                    %span 年
                    .registration-all__birthday-select__select
                      %i.icon-arrow-bottom
                      %select.registration-all__birthday-select__select--default
                        %option{:value => ""} --
                        - for i in 01..12
                          %option{:value => "#{i}"} #{i}
                    %span 月
                    .registration-all__birthday-select__select
                      %i.icon-arrow-bottom
                      %select.registration-all__birthday-select__select--default
                        %option{:value => ""} --
                    %span 日
                  %p.registration-all__content--text-gray
                    ※ 本人情報は正しく入力してください。会員登録後、修正するには
                    お時間を頂く場合があります。
                .registration-all__content
                  .registration-all__form-group
                    .g-recaptcha.signup-recaptcha
                      %div{:style => "width: 304px; height: 78px;"}
                        %div
                          %iframe{:frameborder => "0", :height => "78", :name => "a-mkmk6jkic1h2", :role => "presentation", :sandbox => "allow-forms allow-popups allow-same-origin allow-scripts allow-top-navigation", :scrolling => "no", :src => "https://www.google.com/recaptcha/api2/anchor?ar=1&k=6LfZGCYTAAAAAHoK-s7Lg5OdYg5Fq4susvALmZoc&co=aHR0cHM6Ly93d3cubWVyY2FyaS5jb206NDQz&hl=ja&v=v1563777128698&size=normal&cb=i3am7gn33cqe", :width => "304"}
                          %textarea#g-recaptcha-response.g-recaptcha-response{:name => "g-recaptcha-response", :style => "margin: 10px 25px; padding: 0px; border: 1px solid rgb(193, 193, 193); border-image: none; width: 250px; height: 40px; display: none;"}
                  .registration-all__form-group
                    %p.registration-all__content--text-center
                      「次へ進む」のボタンを押すことにより、
                      %a.registration-all__a{:href => "#"} 利用規約
                      に同意したものとみなします
                  %button.registration-all__btn-red{:type => "submit"}
                    次へ進む
                  .registration-all__form-group
                    %p.text-right
                      %a.registration-all__a{:href => "#"} 本人情報の登録について
                      %i.fas.fa-chevron-right


      / フッター部分
      = render 'shared/footer'