.user-logput-page
  = render "shared/top-header"
  .mainbody
    - breadcrumb :logout
    = render 'shared/pankuzu'
    .mainbody__main
      .mainbody__main__contents
        .mainbody__main__contents__content
          .mainbody__main__contents__content__form
            -# .mainbody__main__contents__content__form__btn ログアウト
            = link_to destroy_user_session_path, method: :delete, class: "mainbody__main__contents__content__form--btn" do
              ログアウト
      = render 'shared/mypage-leftside'
      .mainbody__main__side
  = render "shared/top-footer"
  = render "shared/sell-button"