.top-header
  .top-header__inner
    .top-header__inner__top
      %h1
        = link_to root_path do
          = image_tag "top-logo.svg", alt: "mercari", height: "36", width: "134"
      %form.top-header__inner__top--form
        %input.input-default{name: "keyword", placeholder: "何かお探しですか？", type: "search", value: ""}
        %i.fas.fa-search
    .top-header__inner__nav.clearfix
      %nav.top-navbar-left
        %ul.top-navbar-left__wrapper
          %li
            %h2
              .top-navbar-left__wrapper--list__category
                = link_to "#" do
                  %i.fas.fa-bars
                  %span カテゴリーから探す
          %li
            %h2
              .top-navbar-left__wrapper--list__brand
                = link_to "#" do
                  %i.fas.fa-tag
                  %span ブランドから探す
              .top-navbar-left__brand
                %li.brand-list
                  %h2 シャネル
                %li.brand-list
                  %h2 ナイキ
                %li.brand-list
                  %h2 ルイ ヴィトン
                %li.brand-list
                  %h2 シュプリーム
                %li.brand-list
                  %h2 アディダス
                %li.brand-list
                  %h2 ブランド一覧
        .top-navbar-left__category
          .top-navbar-left__category__parent#parent_category
            - @parent_categories.each do |category|
              %li.parent-category-list{"data-category-id": "#{category.id}"}
                %h2
                  = category.name
            %li.parent-category-list
              %h2 カテゴリー一覧
            .top-navbar-left__category__children#child_category
            .top-navbar-left__category__grandchildren#grandchild_category
              %li.grandchildren-category-list
      .top-navbar-right
        - if user_signed_in?
          %ul
            %li
              %i.fa.fa-bell
            %li
              .top-navbar-right__notice お知らせ
            %li
              %i.fa.fa-check
            %li
              .top-navbar-right__todolist やることリスト
            %li
              = image_tag "ikedayuka.jpg", size: '32x32', class: "mypage_image"
            %li
              = link_to "マイページ", "/users/#{current_user.id}", class: "top-navbar-right__mypage"
        - else
          %ul
            %li
              = link_to "新規会員登録", signup_index_path, class: "top-navbar-right__registration btn-red"
            %li
              = link_to "ログイン", new_user_session_path, class: "top-navbar-right__login nav-btn"
