.top-header
  .top-header__inner
    .top-header__inner__top
      %h1
        = link_to root_path do
          = image_tag "top-logo.svg", alt: "mercari", height: "36", width: "134"
      %form.top-header__inner__top--form
        %input.input-default{name: "keyword", placeholder: "何かお探しですか？", type: "search", value: ""}
        %i.fas.fa-search
    .top-header__inner__nav.clearfix
      %nav.top-navbar-left
        %ul.top-navbar-left__wrapper
          %li
            %h2
              .top-navbar-left__wrapper--list__category
                = link_to "#" do
                  %i.fas.fa-bars
                  %span カテゴリーから探す
          %li
            %h2
              .top-navbar-left__wrapper--list__brand
                = link_to "#" do
                  %i.fas.fa-tag
                  %span ブランドから探す
              .top-navbar-left__brand
                %li.brand-list
                  %h2 シャネル
                %li.brand-list
                  %h2 ナイキ
                %li.brand-list
                  %h2 ルイ ヴィトン
                %li.brand-list
                  %h2 シュプリーム
                %li.brand-list
                  %h2 アディダス
                %li.brand-list
                  %h2 ブランド一覧
        .top-navbar-left__category-parent
          %li.parent-category-list
            %h2 レディース
          %li.parent-category-list
            %h2 メンズ
          %li.parent-category-list
            %h2 ベビー・キッズ
          %li.parent-category-list
            %h2 インテリア・住まい・小物
          %li.parent-category-list
            %h2 本・音楽・ゲーム
          %li.parent-category-list
            %h2 おもちゃ・ホビー・グッズ
          %li.parent-category-list
            %h2 コスメ・香水・美容
          %li.parent-category-list
            %h2 家電・スマホ・カメラ
          %li.parent-category-list
            %h2 スポーツ・レジャー
          %li.parent-category-list
            %h2 ハンドメイド
          %li.parent-category-list
            %h2 チケット
          %li.parent-category-list
            %h2 自動車・オートバイ
          %li.parent-category-list
            %h2 その他
      .top-navbar-right
        - if user_signed_in?
          %ul
            %li
              %i.fa.fa-bell
            %li
              .top-navbar-right__notice お知らせ
            %li
              %i.fa.fa-check
            %li
              .top-navbar-right__todolist やることリスト
            %li
              = image_tag "ikedayuka.jpg", size: '32x32', class: "mypage_image"
            %li
              = link_to "マイページ", "/users/#{current_user.id}", class: "top-navbar-right__mypage"
        - else
          %ul
            %li
              = link_to "新規会員登録", signup_index_path, class: "top-navbar-right__registration btn-red"
            %li
              = link_to "ログイン", new_user_session_path, class: "top-navbar-right__login nav-btn"
