.top-header
  .top-header__inner
    .top-header__inner__top
      %h1
        = link_to root_path do
          = image_tag "top-logo.svg", alt: "mercari", height: "36", width: "134"
        -# %form.top-header__inner__top--form
        -#   %input.input-default{name: "keyword", placeholder: "何かお探しですか？", type: "search", value: ""}
        -#   = link_to search_items_path do
        -#     %i.fas.fa-search 
      = form_with url: search_items_path, local: true, method: :post, class: "top-header__inner__top--form" do |f|
        = f.text_field :search, class: "input-default", placeholder: "何かお探しですか？", type: "search", value: ""
        -# = f.label :aaa, class: 'top-header__inner__top--form__label' do
        = f.button type: "submit", class: 'top-header__inner__top--form__label__submit' do
          %i.fas.fa-search.fa-lg
          -# = fa_icon 'search'
          -# = link_to search_items_path do
    .top-header__inner__nav.clearfix
      %nav.top-navbar-left
        %ul.top-navbar-left__wrapper
          %li
            %h2
              .top-navbar-left__wrapper--list
                = link_to "#" do
                  %i.fas.fa-bars
                  %span カテゴリーから探す
          %li
            %h2
              .top-navbar-left__wrapper--list
                = link_to "#" do
                  %i.fas.fa-tag
                  %span ブランドから探す
      .top-navbar-right
        - if user_signed_in?
          %ul
            %li
              %i.fa.fa-bell
            %li
              .top-navbar-right__notice お知らせ
            %li
              %i.fa.fa-check
            %li
              .top-navbar-right__todolist やることリスト
            %li
              = image_tag "ikedayuka.jpg", size: '32x32', class: "mypage_image"
            %li
              = link_to "マイページ", "/users/#{current_user.id}", class: "top-navbar-right__mypage"
        - else
          %ul
            %li
              = link_to "新規会員登録", signup_index_path, class: "top-navbar-right__registration btn-red"
            %li
              = link_to "ログイン", new_user_session_path, class: "top-navbar-right__login nav-btn"