.top-header
  .top-header__inner
    .top-header__inner__top
      %h1
        = link_to root_path do
          = image_tag "top-logo.svg", alt: "mercari", height: "36", width: "134"
      %form.top-header__inner__top--form
        %input.input-default{name: "keyword", placeholder: "何かお探しですか？", type: "search", value: ""}
        %i.fas.fa-search
    .top-header__inner__nav.clearfix
      %nav.top-navbar-left
        %ul.top-navbar-left__wrapper
          %li
            %h2
              .top-navbar-left__wrapper--list
                = link_to "#" do
                  %i.fas.fa-bars
                  %span カテゴリーから探す
          %li
            %h2
              .top-navbar-left__wrapper--list
                = link_to "#" do
                  %i.fas.fa-tag
                  %span ブランドから探す
      .top-navbar-right
        %ul
          %li
            = link_to "新規会員登録", signup_index_path, class: "top-navbar-right__registration nav-btn btn-red"
          %li
            = link_to "ログイン", login_path, class: "top-navbar-right__login nav-btn"