.mainbody
  = render "shared/top-header"
  - breadcrumb :addCard
  = render 'shared/pankuzu'
  .mainbody__main
    .mainbody__content
      %section.mainbody__container
        %h2.mainbody__chapter-head クレジットカード情報入力
        = form_tag("/users/#{current_user.id}/credits", method: :post, class: "mainbody__inner-registration", id: "change-form") do
          .mainbody__inner-registration__single-content
            .mainbody__form-group
              %label.mainbody__form-group--label カード番号
              %span.mainbody__require 必須
              %input.mainbody__form-group--input-default.number{id: "payment_card_no", maxlegth: "16", name: "number", placeholder: "半角数字のみ", type: "text"}/

              %ul.mainbody__cards
                %li.mainbody__cards--card
                  = image_tag "visa.png"
                %li.mainbody__cards--card
                  = image_tag "mastercard.png"
                %li.mainbody__cards--card
                  = image_tag "saison-card.png"
                %li.mainbody__cards--card
                  = image_tag "jcb.png"
                %li.mainbody__cards--card
                  = image_tag "american_express.png"
                %li.mainbody__cards--card
                  = image_tag "dinersclub.png"
                %li.mainbody__cards--card
                  = image_tag "discover.png"

            .mainbody__form-expire
              %div
                %label.mainbody__form-group--label 有効期限
                %span.mainbody__require 必須
              .mainbody__form-expire__half
                %select.mainbody__form-expire__half--default.exp_month{id: "payment_card_expire_mm", type: "text", name: "exp_month"}
                  %option{value: :"1"} 01
                  %option{value: :"2"} 02
                  %option{value: :"3"} 03
                  %option{value: :"4"} 04
                  %option{value: :"5"} 05
                  %option{value: :"6"} 06
                  %option{value: :"7"} 07
                  %option{value: :"8"} 08
                  %option{value: :"9"} 09
                  %option{value: :"10"} 10
                  %option{value: :"11"} 11
                  %option{value: :"12"} 12
                %span.month 月
              .mainbody__form-expire__half
                %select.mainbody__form-expire__half--default.exp_year{type: "text", id: "payment_card_expire_yy", name: "exp_year"}
                  %option{value: :"2019"} 19
                  %option{value: :"2020"} 20
                  %option{value: :"2021"} 21
                  %option{value: :"2022"} 22
                  %option{value: :"2023"} 23
                  %option{value: :"2024"} 24
                  %option{value: :"2025"} 25
                  %option{value: :"2026"} 26
                  %option{value: :"2027"} 27
                  %option{value: :"2028"} 28
                  %option{value: :"2029"} 29
                %span.year 年

            .mainbody__form-group-under
              %label.mainbody__form-group--label セキュリティコード
              %span.mainbody__require 必須
              %input.mainbody__form-group--input-default.cvc{id: "payment_card_security_code",maxlength: "4", name: "cvc", placeholder: "カード背面4桁もしくは3桁の番号", type: "text"}/

            .mainbody__seqcode
              .mainbody__seqcode-text
                カード裏面の番号とは？
            %input.registration-all__btn-red.submit{type: :submit, id: "submit-button", value: "追加する"}
            %p#result
            %input.payjp-token{ type: "hidden", name: "payjpToken", value: "" }

    = render 'shared/mypage-leftside'
    .mainbody__main__side
  = render "shared/top-footer"
  = render "shared/sell-button"
