%h1.main__item-box__item-name 
  = item.name
.main__item-box__item-main.clearfix
  .main__item-box__item-main__content
    .main__item-box__item-main__content__photo
      .main__item-box__item-main__content__photo__header
        .main__item-box__item-main__content__photo__header__items.stage
          - item.images.each do |image|
            .main__item-box__item-main__content__photo__header__items__stage
              .main__item-box__item-main__content__photo__header__items__stage__inner
                = image_tag image, class: "main__item-box__item-main__content__photo__header__items__stage__inner--main-image", style: "opacity: 1;", width: "300", height: "300"

      .main__item-box__item-main__content__photo__image-box
        - item.images.each_with_index do |image, i|
          .main__item-box__item-main__content__photo__image-box__mini-image{"data-image-id": i}
            %span
            .main__item-box__item-main__content__photo__image-box__mini-image__inner
              = image_tag image, class: ".main__item-box__item-main__content__photo__image-box__mini-image__inner--sub-image", width: "60", height: "60"
  %table.main__item-box__item-main__detail-table
    %tbody.main__item-box__item-main__detail-table__field
      %tr
        %th 出品者
        %td
          = link_to exhibitor.nickname, "#"
          .main__item-box__item-main__detail-table__field__icons
            .main__item-box__item-main__detail-table__field__icons--smile-icons
              %i.fas.fa-grin-alt
              %span 100
            .main__item-box__item-main__detail-table__field__icons--smile-icons
              %i.fas.fa-meh
              %span 50
            .main__item-box__item-main__detail-table__field__icons--smile-icons
              %i.fas.fa-frown
              %span 30
      %tr
        %th カテゴリー
        %td
          = link_to "#" do
            .main__item-box__item-main__detail-table__field__category
              = category.root.name
          = link_to "#" do
            .main__item-box__item-main__detail-table__field__category-sub
              %i.fa.fa-chevron-right
                = category.parent.name
          = link_to "#" do
            .main__item-box__item-main__detail-table__field__category-sub-sub
              %i.fa.fa-chevron-right
                = category.name
      %tr
        %th ブランド
        %td
          = link_to "#" do
            .main__item-box__item-main__detail-table__field__brand
              = item.brand
      %tr
        %th 商品の状態
        %td
          = item.state_i18n
      %tr
        %th 配送料の負担
        %td 
          = item.delivery_fee_i18n
      %tr
        %th 配送の方法
        %td
          = item.delivery_method_i18n
      %tr
        %th 配送先の地域
        %td
          =link_to "#{item.city}", "#"
      %tr
        %th 発送日の目安
        %td
          = item.delivery_days_i18n
.main__item-box__item-price 
  %span.main__item-box__item-price--text
    = "¥ #{item.price.to_s(:delimited)}"
  %span.main__item-box__item-price--tax (税込)
  %span.main__item-box__item-price--shipping-fee 送料込み