.buy
  = render partial: "shared/header"
  .buy__confirmation
    .buy__confirmation__head
      購入内容の確認
    .buy__confirmation__item
      .buy__confirmation__item__content
        .buy__confirmation__item__content__image
          = image_tag "image100.jpeg", width: "64px", height: "60px"
        %p.buy__confirmation__item__content__name
          マフラー兼雨具
        .buy__confirmation__item__content__price
          %p.buy__confirmation__item__content__price__postageincluded
            ¥30,000 
            %span.buy__confirmation__item__content__price__postageincluded__text
              送料込み
        .buy__confirmation__item__content__nopoint
          .buy__confirmation__item__content__nopoint__text
            ポイントはありません
        .buy__confirmation__item__content__buyprice
          .buy__confirmation__item__content__buyprice__text
            支払い金額
          .buy__confirmation__item__content__buyprice__price
            ¥30,000
        .buy__confirmation__item__content__btn
          購入する
    .buy__confirmation__user
      .buy__confirmation__user__info
        配送先 
        .buy__confirmation__user__wuinfo__address
          %p〒123-1234
          %p大阪府 大阪市東京区　東京1-2-11
          %p田中 太朗
        .buy__confirmation__user__info__change
          変更する
          .fa.fa-angle-right
    .buy__confirmation__credit
      .buy__confirmation__credit__info
        支払い方法
        .buy__confirmation__credit__info__text
          %p ************8001
          %p 08/21
        .buy__confirmation__credit__info__image
          = image_tag "visa.png"
        .buy__confirmation__credit__info__change
          変更する
          .fa.fa-angle-right
  %footer.buy__footer
    %nav.buy__footer__nav
      %ul.lists
        %li.lists--list
          = link_to "プライバシーポリシー", "/", class: "lists--list--link"
        %li.lists--list
          = link_to "メルカリ利用規約", "/", class: "lists--list--link"
        %li.lists--list
          = link_to "特定商取引に関する表記", "/", class: "lists--list--link"
    = link_to "#", class: "buy__footer__logo" do
      = image_tag "mercariLogoGray.svg", alt: "mercari", class: "buy__footer__logo__img"
    .buy__footer__trademark
      %small © 2019 Mercari
          
      


          
        
           