.main
  = render "shared/top-header"
  %section.main__item-box
    %h1.main__item-box__item-name 
      = @item.name
    .main__item-box__item-main.clearfix
      .main__item-box__item-main__content
        .main__item-box__item-main__content__photo
          .main__item-box__item-main__content__photo__header
            .main__item-box__item-main__content__photo__header__items.stage{style: 'left: 0px; width: 3000px;'}
              .main__item-box__item-main__content__photo__header__items__stage{style: 'width: 300px;'}
                .main__item-box__item-main__content__photo__header__items__stage__inner
                  = image_tag "https://static.mercdn.net/item/detail/orig/photos/m92654645745_1.jpg?1562400146", class: "main__item-box__item-main__content__photo__header__items__stage__inner--main-image", style: "opacity: 1;", width: "300"
              .main__item-box__item-main__content__photo__header__items__stage{style: 'width: 300px;'}
                .main__item-box__item-main__content__photo__header__items__stage__inner
                  = image_tag "https://c.imgz.jp/211/12975211/12975211_8_D_215.jpg", class: "main__item-box__item-main__content__photo__header__items__stage__inner--main-image", style: "opacity: 1;", width: "300"
              .main__item-box__item-main__content__photo__header__items__stage{style: 'width: 300px;'}
                .main__item-box__item-main__content__photo__header__items__stage__inner
                  = image_tag "https://static.mercdn.net/item/detail/orig/photos/m92654645745_1.jpg?1562400146", class: "main__item-box__item-main__content__photo__header__items__stage__inner--main-image", style: "opacity: 1;", width: "300"
              .main__item-box__item-main__content__photo__header__items__stage{style: 'width: 300px;'}
                .main__item-box__item-main__content__photo__header__items__stage__inner
                  = image_tag "https://static.mercdn.net/item/detail/orig/photos/m92654645745_1.jpg?1562400146", class: "main__item-box__item-main__content__photo__header__items__stage__inner--main-image", style: "opacity: 1;", width: "300"
              .main__item-box__item-main__content__photo__header__items__stage{style: 'width: 300px;'}
                .main__item-box__item-main__content__photo__header__items__stage__inner
                  = image_tag "https://static.mercdn.net/item/detail/orig/photos/m92654645745_1.jpg?1562400146", class: "main__item-box__item-main__content__photo__header__items__stage__inner--main-image", style: "opacity: 1;", width: "300"
              .main__item-box__item-main__content__photo__header__items__stage{style: 'width: 300px;'}
                .main__item-box__item-main__content__photo__header__items__stage__inner
                  = image_tag "https://static.mercdn.net/item/detail/orig/photos/m92654645745_1.jpg?1562400146", class: "main__item-box__item-main__content__photo__header__items__stage__inner--main-image", style: "opacity: 1;", width: "300"
              .main__item-box__item-main__content__photo__header__items__stage{style: 'width: 300px;'}
                .main__item-box__item-main__content__photo__header__items__stage__inner
                  = image_tag "https://static.mercdn.net/item/detail/orig/photos/m92654645745_1.jpg?1562400146", class: "main__item-box__item-main__content__photo__header__items__stage__inner--main-image", style: "opacity: 1;", width: "300"
              .main__item-box__item-main__content__photo__header__items__stage{style: 'width: 300px;'}
                .main__item-box__item-main__content__photo__header__items__stage__inner
                  = image_tag "https://static.mercdn.net/item/detail/orig/photos/m92654645745_1.jpg?1562400146", class: "main__item-box__item-main__content__photo__header__items__stage__inner--main-image", style: "opacity: 1;", width: "300"
              .main__item-box__item-main__content__photo__header__items__stage{style: 'width: 300px;'}
                .main__item-box__item-main__content__photo__header__items__stage__inner
                  = image_tag "https://static.mercdn.net/item/detail/orig/photos/m92654645745_1.jpg?1562400146", class: "main__item-box__item-main__content__photo__header__items__stage__inner--main-image", style: "opacity: 1;", width: "300"
              .main__item-box__item-main__content__photo__header__items__stage{style: 'width: 300px;'}
                .main__item-box__item-main__content__photo__header__items__stage__inner
                  = image_tag "https://static.mercdn.net/item/detail/orig/photos/m92654645745_1.jpg?1562400146", class: "main__item-box__item-main__content__photo__header__items__stage__inner--main-image", style: "opacity: 1;", width: "300"
          .main__item-box__item-main__content__photo__image-box
            .main__item-box__item-main__content__photo__image-box__mini-image{"data-image-id": 0}
              %span
              .main__item-box__item-main__content__photo__image-box__mini-image__inner
                = image_tag "https://static.mercdn.net/item/detail/orig/photos/m92654645745_1.jpg?1562400146", class: ".main__item-box__item-main__content__photo__image-box__mini-image__inner--sub-image"
            .main__item-box__item-main__content__photo__image-box__mini-image{"data-image-id": 1}
              %span
              .main__item-box__item-main__content__photo__image-box__mini-image__inner
                = image_tag "https://c.imgz.jp/211/12975211/12975211_8_D_215.jpg", class: ".main__item-box__item-main__content__photo__image-box__mini-image__inner--sub-image"
            .main__item-box__item-main__content__photo__image-box__mini-image{"data-image-id": 2}
              %span
              .main__item-box__item-main__content__photo__image-box__mini-image__inner
                = image_tag "https://static.mercdn.net/item/detail/orig/photos/m92654645745_1.jpg?1562400146", class: ".main__item-box__item-main__content__photo__image-box__mini-image__inner--sub-image"
            .main__item-box__item-main__content__photo__image-box__mini-image{"data-image-id": 3}
              %span
              .main__item-box__item-main__content__photo__image-box__mini-image__inner
                = image_tag "https://static.mercdn.net/item/detail/orig/photos/m92654645745_1.jpg?1562400146", class: ".main__item-box__item-main__content__photo__image-box__mini-image__inner--sub-image"
            .main__item-box__item-main__content__photo__image-box__mini-image{"data-image-id": 4}
              %span
              .main__item-box__item-main__content__photo__image-box__mini-image__inner
                = image_tag "https://static.mercdn.net/item/detail/orig/photos/m92654645745_1.jpg?1562400146", class: ".main__item-box__item-main__content__photo__image-box__mini-image__inner--sub-image"
            .main__item-box__item-main__content__photo__image-box__mini-image{"data-image-id": 5}
              %span
              .main__item-box__item-main__content__photo__image-box__mini-image__inner
                = image_tag "https://static.mercdn.net/item/detail/orig/photos/m92654645745_1.jpg?1562400146", class: ".main__item-box__item-main__content__photo__image-box__mini-image__inner--sub-image"
            .main__item-box__item-main__content__photo__image-box__mini-image{"data-image-id": 6}
              %span
              .main__item-box__item-main__content__photo__image-box__mini-image__inner
                = image_tag "https://static.mercdn.net/item/detail/orig/photos/m92654645745_1.jpg?1562400146", class: ".main__item-box__item-main__content__photo__image-box__mini-image__inner--sub-image"
            .main__item-box__item-main__content__photo__image-box__mini-image{"data-image-id": 7}
              %span
              .main__item-box__item-main__content__photo__image-box__mini-image__inner
                = image_tag "https://static.mercdn.net/item/detail/orig/photos/m92654645745_1.jpg?1562400146", class: ".main__item-box__item-main__content__photo__image-box__mini-image__inner--sub-image"
            .main__item-box__item-main__content__photo__image-box__mini-image{"data-image-id": 8}
              %span
              .main__item-box__item-main__content__photo__image-box__mini-image__inner
                = image_tag "https://static.mercdn.net/item/detail/orig/photos/m92654645745_1.jpg?1562400146", class: ".main__item-box__item-main__content__photo__image-box__mini-image__inner--sub-image"
            .main__item-box__item-main__content__photo__image-box__mini-image{"data-image-id": 9}
              %span
              .main__item-box__item-main__content__photo__image-box__mini-image__inner
                = image_tag "https://static.mercdn.net/item/detail/orig/photos/m92654645745_1.jpg?1562400146", class: ".main__item-box__item-main__content__photo__image-box__mini-image__inner--sub-image"
      %table.main__item-box__item-main__detail-table
        %tbody.main__item-box__item-main__detail-table__field
          %tr
            %th 出品者
            %td
              = link_to @user.nickname, "/items/detail"
              .main__item-box__item-main__detail-table__field__icons
                .main__item-box__item-main__detail-table__field__icons--smile-icons
                  %i.fas.fa-grin-alt
                  %span 100
                .main__item-box__item-main__detail-table__field__icons--smile-icons
                  %i.fas.fa-meh
                  %span 50
                .main__item-box__item-main__detail-table__field__icons--smile-icons
                  %i.fas.fa-frown
                  %span 30
          %tr
            %th カテゴリー
            %td
              = link_to "/items/detail" do
                .main__item-box__item-main__detail-table__field__category
                = @category.parent.parent.name
              = link_to "/items/detail" do
                .main__item-box__item-main__detail-table__field__category-sub
                  %i.fa.fa-chevron-right
                  = @category.parent.name
              = link_to "/items/detail" do
                .main__item-box__item-main__detail-table__field__category-sub-sub
                  %i.fa.fa-chevron-right
                  = @category.name
          %tr
            %th ブランド
            %td
              = link_to "/items/detail" do
                .main__item-box__item-main__detail-table__field__brand
                  = @item.brand
          %tr
            %th 商品の状態
            %td 未使用に近い
          %tr
            %th 配送料の負担
            %td 送料込み（出品者負担）
          %tr
            %th 配送の方法
            %td ゆうパック
          %tr
            %th 配送先の地域
            %td 
              =link_to '大阪府', "/items/detail"
          %tr
            %th 発送日の目安
            %td 1~2日で発送
    .main__item-box__item-price 
      %span.main__item-box__item-price--text ¥ 26,000
      %span.main__item-box__item-price--tax (税込)
      %span.main__item-box__item-price--shipping-fee 送料込み
    .main__item-box__item-btn 購入画面に進む
    .main__item-box__item-description
      %p.main__item-box__item-description--text
        ご覧いただきありがとうございます。
        極美品 オールドコーチ 0502 レザー 2way 大型ボストンバッグ D818の出品です♪
        /
        【ブランド】
        COACH/コーチ
        /
        【コンディション】
        若干の擦れはございますが全体的にかなり綺麗な状態です(*^^*)
        詳細は画像にてご確認ください。
        /
        【サイズ】
        縦横 約24cm×54cm
        マチ 約23cm
        持ち手 約10cm
        ショルダー 約35cm
        ※記載している持ち手(ショルダー)の長さは
        バッグ上部から持ち手(ショルダー)のトップまでの長さを測っております。
        /
        【重さ】
        約1638g
        /
        【カラー】
        ブラウン
        /
        【素材】
        レザー
        /
        【付属品】
        画像のもので全てになります。
        /
        /
        【梱包、配送について】
        梱包はプチプチに包みダンボール、
        または簡易梱包資材に入れての発送になります。
        厳重に梱包しますので破損の心配は不要です(^^)
        全国送料無料です。
        /
        ☆ご購入前にはプロフィールに目を通していただきますよう
        お願い致します(^^)/ 
        /
        1.2#bag#ブランドバッグ#レディース#バッグ#カバン#ファッション#ハンドバッグ #ショルダーバッグ
    .main__item-box__item-icon
      .main__item-box__item-icon__left
        %button.main__item-box__item-icon__left__like 
          %i.far.fa-heart
            %span いいね!
            %span.main__item-box__item-icon__left__like__count 17
        %button.main__item-box__item-icon__left__report
          %i.far.fa-flag
            %span 不適切な商品の報告
      .main__item-box__item-icon__right
        = link_to "/items/detail" do
          %i.fa.fa-lock
            %span あんしん・あんぜんへの取り組み
  .main__detail-message
    .main__detail-message__container
      .main__detail-message__container__content
        %form.main__detail-message__container__content__form
          %p 相手のことを考え丁寧なコメントを心がけましょう。不快な言葉遣いなどは利用制限や退会処分となることがあります。
          %textarea
          %button.main__detail-message__container__content__form--btn-gray
            %span コメントする
  %ul.main__item-link
    %li.main__item-link__previous
      = link_to "/items/detail" do
        %i.fa.fa-chevron-left 
        AUX PARADIS サボン 空瓶
    %li.main__item-link__next
      = link_to "/items/detail" do
        ハーバリウム.:*:・'°☆ヘリクリサム
        %i.fa.fa-chevron-right
  .main__media-box
    .main__media-box--text
    %ul.main__media-box__media-icon
      %li
        = link_to "/items/detail" do
          %i.fab.fa-facebook-square
      %li
        =link_to "/items/detail" do
          %i.fab.fa-twitter-square
      %li
        = link_to "/items/detail" do
          %i.fab.fa-pinterest-square
  .main__user-item
    %section.main__user-item__user-item-box.clearfix
      %h2.main__user-item__user-item-box--name
        = link_to "/items/detail" do
          ユーザー1さんのその他出品
      .main__user-item__user-item-box__content.clearfix
        %section.main__user-item__user-item-box__content__image-box
          = link_to "/items/detail" do
            %figure.main__user-item__user-item-box__content__image-box__photo
              = image_tag "https://cdn.thumb.shop-list.com/res/up/shoplist/shp/__basethum200__/altrose/sd/660375-06.jpg", class: 'main__user-item__user-item-box__content__image-box__photo--item-image', width: "220", height: "220"
            .main__user-item__user-item-box__content__image-box__body
              %h3.main__user-item__user-item-box__content__image-box__body--items-name
                かばんかばんかばんかばんカバンかばんかばんかばんかばんかばんかばんかばんかばんんかばん
              .main__user-item__user-item-box__content__image-box__body__num
                .main__user-item__user-item-box__content__image-box__body__num--price ¥ 9,000
                .main__user-item__user-item-box__content__image-box__body__num--heart
                  %i.far.fa-heart
                  %span 4
        %section.main__user-item__user-item-box__content__image-box
          = link_to "/items/detail" do
            %figure.main__user-item__user-item-box__content__image-box__photo
              = image_tag "https://cdn.thumb.shop-list.com/res/up/shoplist/shp/__basethum200__/altrose/sd/660375-06.jpg", class: 'main__user-item__user-item-box__content__image-box__photo--item-image', width: "220", height: "220"
            .main__user-item__user-item-box__content__image-box__body
              %h3.main__user-item__user-item-box__content__image-box__body--items-name
                かばんかばんかばんかばんカバンかばんかばんかばんかばんかばんかばんかばんかばんんかばん
              .main__user-item__user-item-box__content__image-box__body__num
                .main__user-item__user-item-box__content__image-box__body__num--price ¥ 9,000
                .main__user-item__user-item-box__content__image-box__body__num--heart
                  %i.far.fa-heart
                  %span 4
        %section.main__user-item__user-item-box__content__image-box
          = link_to "/items/detail" do
            %figure.main__user-item__user-item-box__content__image-box__photo
              = image_tag "https://cdn.thumb.shop-list.com/res/up/shoplist/shp/__basethum200__/altrose/sd/660375-06.jpg", class: 'main__user-item__user-item-box__content__image-box__photo--item-image', width: "220", height: "220"
            .main__user-item__user-item-box__content__image-box__body
              %h3.main__user-item__user-item-box__content__image-box__body--items-name
                かばんかばんかばんかばんカバンかばんかばんかばんかばんかばんかばんかばんかばんんかばん
              .main__user-item__user-item-box__content__image-box__body__num
                .main__user-item__user-item-box__content__image-box__body__num--price ¥ 9,000
                .main__user-item__user-item-box__content__image-box__body__num--heart
                  %i.far.fa-heart
                  %span 4
        %section.main__user-item__user-item-box__content__image-box
          = link_to "/items/detail" do
            %figure.main__user-item__user-item-box__content__image-box__photo
              = image_tag "https://cdn.thumb.shop-list.com/res/up/shoplist/shp/__basethum200__/altrose/sd/660375-06.jpg", class: 'main__user-item__user-item-box__content__image-box__photo--item-image', width: "220", height: "220"
            .main__user-item__user-item-box__content__image-box__body
              %h3.main__user-item__user-item-box__content__image-box__body--items-name
                かばんかばんかばんかばんカバンかばんかばんかばんかばんかばんかばんかばんかばんんかばん
              .main__user-item__user-item-box__content__image-box__body__num
                .main__user-item__user-item-box__content__image-box__body__num--price ¥ 9,000
                .main__user-item__user-item-box__content__image-box__body__num--heart
                  %i.far.fa-heart
                  %span 4
        %section.main__user-item__user-item-box__content__image-box
          = link_to "/items/detail" do
            %figure.main__user-item__user-item-box__content__image-box__photo
              = image_tag "https://cdn.thumb.shop-list.com/res/up/shoplist/shp/__basethum200__/altrose/sd/660375-06.jpg", class: 'main__user-item__user-item-box__content__image-box__photo--item-image', width: "220", height: "220"
            .main__user-item__user-item-box__content__image-box__body
              %h3.main__user-item__user-item-box__content__image-box__body--items-name
                かばんかばんかばんかばんカバンかばんかばんかばんかばんかばんかばんかばんかばんんかばん
              .main__user-item__user-item-box__content__image-box__body__num
                .main__user-item__user-item-box__content__image-box__body__num--price ¥ 9,000
                .main__user-item__user-item-box__content__image-box__body__num--heart
                  %i.far.fa-heart
                  %span 4
        %section.main__user-item__user-item-box__content__image-box
          = link_to "/items/detail" do
            %figure.main__user-item__user-item-box__content__image-box__photo
              = image_tag "https://cdn.thumb.shop-list.com/res/up/shoplist/shp/__basethum200__/altrose/sd/660375-06.jpg", class: 'main__user-item__user-item-box__content__image-box__photo--item-image', width: "220", height: "220"
            .main__user-item__user-item-box__content__image-box__body
              %h3.main__user-item__user-item-box__content__image-box__body--items-name
                かばんかばんかばんかばんカバンかばんかばんかばんかばんかばんかばんかばんかばんんかばん
              .main__user-item__user-item-box__content__image-box__body__num
                .main__user-item__user-item-box__content__image-box__body__num--price ¥ 9,000
                .main__user-item__user-item-box__content__image-box__body__num--heart
                  %i.far.fa-heart
                  %span 4
    %section.main__user-item__user-item-box.clearfix
      %h2.main__user-item__user-item-box--name
        = link_to "/items/detail" do
          ユーザー2さんのその他出品
      .main__user-item__user-item-box__content.clearfix
        %section.main__user-item__user-item-box__content__image-box
          = link_to "/items/detail" do
            %figure.main__user-item__user-item-box__content__image-box__photo
              = image_tag "https://item-shopping.c.yimg.jp/i/j/i-healing_ys150010062", class: 'main__user-item__user-item-box__content__image-box__photo--item-image', width: "220", height: "220"
            .main__user-item__user-item-box__content__image-box__body
              %h3.main__user-item__user-item-box__content__image-box__body--items-name
                かばんかばんかばんかばんカバンかばんかばんかばんかばんかばんかばんかばんかばんんかばん
              .main__user-item__user-item-box__content__image-box__body__num
                .main__user-item__user-item-box__content__image-box__body__num--price ¥ 9,000
                .main__user-item__user-item-box__content__image-box__body__num--heart
                  %i.far.fa-heart
                  %span 4
        %section.main__user-item__user-item-box__content__image-box
          = link_to "/items/detail" do
            %figure.main__user-item__user-item-box__content__image-box__photo
              = image_tag "https://item-shopping.c.yimg.jp/i/j/i-healing_ys150010062", class: 'main__user-item__user-item-box__content__image-box__photo--item-image', width: "220", height: "220"
            .main__user-item__user-item-box__content__image-box__body
              %h3.main__user-item__user-item-box__content__image-box__body--items-name
                かばんかばんかばんかばんカバンかばんかばんかばんかばんかばんかばんかばんかばんんかばん
              .main__user-item__user-item-box__content__image-box__body__num
                .main__user-item__user-item-box__content__image-box__body__num--price ¥ 9,000
                .main__user-item__user-item-box__content__image-box__body__num--heart
                  %i.far.fa-heart
                  %span 4
        %section.main__user-item__user-item-box__content__image-box
          = link_to "/items/detail" do
            %figure.main__user-item__user-item-box__content__image-box__photo
              = image_tag "https://item-shopping.c.yimg.jp/i/j/i-healing_ys150010062", class: 'main__user-item__user-item-box__content__image-box__photo--item-image', width: "220", height: "220"
            .main__user-item__user-item-box__content__image-box__body
              %h3.main__user-item__user-item-box__content__image-box__body--items-name
                かばんかばんかばんかばんカバンかばんかばんかばんかばんかばんかばんかばんかばんんかばん
              .main__user-item__user-item-box__content__image-box__body__num
                .main__user-item__user-item-box__content__image-box__body__num--price ¥ 9,000
                .main__user-item__user-item-box__content__image-box__body__num--heart
                  %i.far.fa-heart
                  %span 4
        %section.main__user-item__user-item-box__content__image-box
          = link_to "/items/detail" do
            %figure.main__user-item__user-item-box__content__image-box__photo
              = image_tag "https://item-shopping.c.yimg.jp/i/j/i-healing_ys150010062", class: 'main__user-item__user-item-box__content__image-box__photo--item-image', width: "220", height: "220"
            .main__user-item__user-item-box__content__image-box__body
              %h3.main__user-item__user-item-box__content__image-box__body--items-name
                かばんかばんかばんかばんカバンかばんかばんかばんかばんかばんかばんかばんかばんんかばん
              .main__user-item__user-item-box__content__image-box__body__num
                .main__user-item__user-item-box__content__image-box__body__num--price ¥ 9,000
                .main__user-item__user-item-box__content__image-box__body__num--heart
                  %i.far.fa-heart
                  %span 4
        %section.main__user-item__user-item-box__content__image-box
          = link_to "/items/detail" do
            %figure.main__user-item__user-item-box__content__image-box__photo
              = image_tag "https://item-shopping.c.yimg.jp/i/j/i-healing_ys150010062", class: 'main__user-item__user-item-box__content__image-box__photo--item-image', width: "220", height: "220"
            .main__user-item__user-item-box__content__image-box__body
              %h3.main__user-item__user-item-box__content__image-box__body--items-name
                かばんかばんかばんかばんカバンかばんかばんかばんかばんかばんかばんかばんかばんんかばん
              .main__user-item__user-item-box__content__image-box__body__num
                .main__user-item__user-item-box__content__image-box__body__num--price ¥ 9,000
                .main__user-item__user-item-box__content__image-box__body__num--heart
                  %i.far.fa-heart
                  %span 4
        %section.main__user-item__user-item-box__content__image-box
          = link_to "/items/detail" do
            %figure.main__user-item__user-item-box__content__image-box__photo
              = image_tag "https://item-shopping.c.yimg.jp/i/j/i-healing_ys150010062", class: 'main__user-item__user-item-box__content__image-box__photo--item-image', width: "220", height: "220"
            .main__user-item__user-item-box__content__image-box__body
              %h3.main__user-item__user-item-box__content__image-box__body--items-name
                かばんかばんかばんかばんカバンかばんかばんかばんかばんかばんかばんかばんかばんんかばん
              .main__user-item__user-item-box__content__image-box__body__num
                .main__user-item__user-item-box__content__image-box__body__num--price ¥ 9,000
                .main__user-item__user-item-box__content__image-box__body__num--heart
                  %i.far.fa-heart
                  %span 4
  = render 'shared/pankuzu'
  = render "shared/top-footer"