.new-item-page
  .new-item-page__header
    = render "shared/header"
  .new-item-page__main
    %section.container
      %h2.container__head
        .container__head__title 商品の情報を入力
      
      = form_with model: @item, local: true do |f|
        .container__form
          .container__form__content.upload-images
            %label.upload-images__label
              出品画像
              %span.form-require 
                必須
            .upload-images__addition
              最大10枚までアップロードできます
            = f.label :image, class: "upload-images__container" do
              -# TODO:jQueryで複数枚アップロード機能実装？(have-itemに変数でNoを設定)
              .upload-images__container__box.have-item
                = f.file_field :image, class: "upload-images__container__box--input"
                %pre.input.upload-images__container--text
                  ドラッグアンドドロップ
                  またはクリックしてファイルをアップロード

          .container__form__content.item-about.clearfix
            .form-group
              %label.item-about__name 
                商品名
                %span.form-require 
                  必須
              = f.text_field :name, class: "item-about__name--input", placeholder: "商品名（必須 40文字まで)"
            .form-group
              %label.item-about__description 
                商品の説明
                %span.form-require 
                  必須
              = f.text_area :introduction, class: "item-about__description--input", placeholder: "商品の説明（必須1,000文字以内）（色、素材、重さ、定価、注意点など）例）2010年頃に1万円で購入したジャケットです。ライトグレーで傷はありません。あわせやすいのでおすすめです。"
          
          .container__form__content.item-detail.clearfix
            .item-detail__title.form-sub-title 商品の詳細
            .item-detail__right-box.form-right-box
              .form-group
                %label.item-detail__category 
                  カテゴリー
                  %span.form-require 必須
                .select-wrap
                  %i.fas.fa-angle-down
                  = f.collection_select :p_category_id, Category.where("id < ?", 14), :name, :name, {prompt: "---"}, {class: "select-wrap__input"}
              .form-group
                %label.item-detail__state 
                  商品の状態
                  %span.form-require 必須
                .select-wrap
                  %i.fas.fa-angle-down
                  = f.select :state, [["新品、未使用", 1], ["未使用に近い", 2], ["目立った傷や汚れなし", 3], ["やや傷や汚れあり", 4], ["傷や汚れあり", 5], ["全体的に状態が悪い", 6]], {prompt: "---"}, {class: "select-wrap__input"}
          
          .container__form__content.delivery-setting.clearfix
            .delivery-setting__title.form-sub-title 配送について
            .delivery-setting__rightbox.form-right-box
              .form-group
                %label.delivery-setting__burden
                  配送料の負担
                  %span.form-require 
                    必須
                .select-wrap
                  %i.fas.fa-angle-down
                  = f.select :delivery_fee, [["送料込み(出品者負担)", 1], ["着払い(購入者負担)", 2]], {prompt: "---"}, {class: "select-wrap__input"}
                  
              .form-group
                %label.delivery-setting__region
                  発送元の地域
                  %span.form-require 
                    必須
                .select-wrap
                  %i.fas.fa-angle-down
                  = f.collection_select :city, Prefecture.all, :name, :name, {prompt: "---"}, {class: "select-wrap__input"}

              .form-group
                %label.delivery-setting__days
                  発送までの日数
                  %span.form-require 
                    必須
                .select-wrap
                  %i.fas.fa-angle-down
                  = f.select :delivery_days, [["1~2日で発送", 1], ["2~3日で発送", 2], ["4~7日で発送", 3]], {prompt: "---"}, {class: "select-wrap__input"}

          .container__form__content.selling-item.clearfix
            .selling-item__title.form-sub-title
              販売価格(300〜9,999,999)
            %ul.selling-item__right-box.form-right-box
              %li.form-group.selling-item__price
                .selling-item__price__inner-left
                  %label.selling-item__price--setting
                    価格
                    %span.form-require 
                      必須
                .selling-item__price__inner-right
                  ¥
                  .selling-item__price__inner-right--input
                    %input{placeholder: "例)  300", value: ""}
              %li.selling-item__fee.clearfix
                %p 販売手数料(10%)
                %p -
              %li.selling-item__profit.clearfix
                %p.selling-item__profit--title 販売利益
                %p.selling-item__profit--result -
        
        .container__form__content.confirmation-box.clearfix
          .confirmation-box__description
            %p<>
              = link_to "禁止されている出品", "#"
              、
              = link_to "行為", "#"
              を必ずご確認ください。
            %p<>
              またブランド品でシリアルナンバー等がある場合はご記載ください。
              = link_to "偽ブランドの販売", "#"
              は犯罪であり処罰される可能性があります。
            %p<> 
              また、出品をもちまして
              = link_to "加盟店規約", "#"
              に同意したことになります。
          .confirmation-box__btn
            .confirmation-box__btn--exhibition
              -# TODO:form_forで修正時に、submitで置き換え？
              = button_to '出品する', root_path, method: :get, class: "btn btn-red"
            .confirmation-box__btn--back
              -# TODO:仮でroot_pathに設定。後日、ユーザーマイページへリンクを書き換える必要あり
              = button_to 'もどる', root_path, method: :get, class: "btn btn-gray"

  %footer.new-item-page__footer
    %nav.new-item-page__footer__nav
      %ul.lists
        %li.lists--list
          = link_to "プライバシーポリシー", "/", class: "lists--list--link"
        %li.lists--list
          = link_to "メルカリ利用規約", "/", class: "lists--list--link"
        %li.lists--list
          = link_to "特定商取引に関する表記", "/", class: "lists--list--link"
    %a.new-item-page__footer__logo{ href: "#" }
      = image_tag "mercariLogoGray.svg", alt: "mercari", class: "new-item-footer__logo__img"
    %p.new-item-page__footer__trademark
      %small © 2019 Mercari
