.registration-html
  .registration-body
    .registration-all
      .registration-all__container
        / ヘッダー部分
        %header.registration-all__header
          %h1.registration-all__header--h1
            = link_to "/", class: "registration-all__header--a" do
              = image_tag "mercari2.png"
          %nav.registration-all__bar
            %ol.registration-all__bar--ol
              %li.registration-all__bar--through
                会員情報
                .progress-status
              %li.registration-all__bar--active
                電話番号認証
                .progress-status
              %li.registration-all__bar--li
                お届け先住所入力
                .progress-status
              %li.registration-all__bar--li
                支払い方法
                .progress-status
              %li.registration-all__bar--last
                完了
                .progress-status
        / メイン部分
        %main.registration-all__main
          %section.registration-all__main-container
            %h2.registration-all__chapter-head 電話番号の確認
            = form_with url: address_new_registration_url(current_user), local: true do |f|
              .registration-all__content
                .registration-all__form-group
                  %label.registration-all__form-group--label 携帯電話の番号
                  = f.text_field(:phone_number, class: "input-default", placeholder: "携帯電話の番号を入力", type: "tel")
                %p.registration-all__content--text
                  本人確認のため、携帯電話のSMS(ショートメッセージサービス)を利用して
                  認証を行います。
                  = f.submit "SMSを送信する", class: "registration-all__btn-red"
                %p.registration-all__content--text
                  ※電話番号は本人確認や不正利用防止のために利用します。
                  他のユーザーに公開されることはありません。
                .registration-all__form-group
                  %p.text-right
                    = link_to "電話番号の確認が必要な理由", "/", class: "registration-all__a"
                    %i.fas.fa-chevron-right
        / フッター部分
        = render 'shared/footer'